<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://vuejs.org/js/vue.js"></script>
    <title>/r/de stats</title>
</head>
<body>
    
    <div id="app">
        {{ message }}

        <p>
            <menu-item 
                v-for="item in menu"
                v-bind:menu="item"
                v-bind:key="item.id">
            </menu-item>
        </p>

        <p v-html="rawHTML">
            
        </p>

    <button v-on:click="reverseMessage">Reverse Message</button>
    <input v-model="message">
    </div>

    <script src="/script/kosh.js"></script>
    
</body>
</html>